<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/DiseaseDetection/frontend/src/styles/history.css">
    <title>AgriDiag\History</title>
</head>
<body>
    <div class="container">
        <!-- Navigation Bar -->
        <nav class="navigation">
            <ul>
                <a href="home.htm"><li>Home</li></a>
                <li>Services</li>
                <li>History</li>
                <li>Blog</li>
                <a href="contact.htm"><li>Contact</li></a>
                <li>
                    <a href="logi.htm"><i class='bx bx-user'></i></a>
                    <label for="bx-user">Login</label>
                </li>
            </ul>
        </nav>
    </div>
    <h1>History Page</h1>
    <div class="project">
        <a href="projects.htm"><p>project1</p></a>
        <img id="p" src="plant.png">
    </div>    
</body>
</html>