<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriDiagnosis</title>
    <link rel="stylesheet" href="../styles/logi.css">
    <link rel="stylesheet" href="../styles/scroll.css">
</head>

<body>
    <button class="continue-guest">Continue as Guest</button>
    <div class="login">
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" placeholder="Username">
            <i class='bx bx-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password">
            <i class='bx bx-lock-alt'></i>
        </div>
        <div class="remember">
            <label for="rem"><input type="checkbox" name="rem" id="rem">Remember me</label>
            <a href="#">Forget Password?</a>
        </div>
        <div class="forget-password">
            <button type="submit">Login</button>
        </div>
        <div class="create">
            Don't have an account?
            <a href="#">Register</a>
        </div>
    </div>
</body>

</html>
